@keyframes logo-preloader {
    0% {width: 100%;
        height: 100%;
    }
    32%{
     width: 50%;
     height: 14%;
    }
    52%{
        width: 60%;
        height: 10%;
    }
    62%{
        width: 30%;
     height: 14%;
    }
    85%{
        width: 50%;
        height: 10%;
    }
    100% {
      width: 20%;
      height: 0%;
      pointer-events: none;
    }
}

@keyframes backgr-transparent {
    0% {
        background: $color-primaire;
    }
    42%{
      background: rgb(255, 255, 255);
    }
    70% {
      background: rgba(255, 255, 255, 0);
    }
    100%{
        background: rgba(255, 255, 255, 0);
        pointer-events: none ;
    }
}

@keyframes dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    width: 0;
    border-color: transparent;
  }
}

@keyframes text-preloader {
0%{font-size: 100%;
   user-select: none;
}
100%{ 
    font-size: 140%;
    user-select: none;
    color: transparent;
    text-shadow: 1px 1px 1px transparent;
}
}

@keyframes effetto-sfocato {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100%{
      opacity: 1;
      transform: translateY(0);
    }
  }
