.explorer {
   @include flex-layout;
    padding: 36px 0;
    background-color: $color-background;
    &_title {
      margin: 0px 55px 15px;
      font-size: 24px;  
      text-align: center;
    }
    &_content {
      font-family: 'Raleway';
      font-size: 17px;
      margin: 0 16px 33px;
      text-align: center;
    }
    &_button {
      @include button;
      margin: 0 35px 24px;
      &_span {
        margin: 0 24px;
        font-size: 16px;  
      }
    }
  }
  