.header {
  display: flex;
  justify-content: center;  
  box-shadow: 0 3px 3px $color-shadow;
  position: relative;
  &_logo {
    height: 45%;
    width: 45%;
    margin: 20px 0 15px;
  }
}

.position {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: $color-position-background;
  &_ico_marker { 
    height: 16px;
    width: 16px;  
  }
  &_span {
    font-size: 16px;
    font-weight: 600;
    margin: 15px;
  }
}

@media (min-width: 768px) and (max-width: 991px){
  .header_logo{
    height: 40%;
    width: 40%;
    margin: 20px 0 15px;
  }

.position{
  &_span{
   font-size:20px;
  }
}

}
@media (min-width: 992px){
  
  .header_logo{
    height: 15%;
    width: 15%;
    margin: 20px 0 15px;
  }
}