@mixin box-resto{
    background-color: #FFFFFF;
    border-radius: 15px;
    overflow: hidden;
    height: 255px;
    box-shadow: 0px 2px 10px $color-shadow;
}

@mixin flex-layout{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}

@mixin button{
        @include flex-layout;
        color: $color-button-text;
        font-weight: 400;
        border-radius: 25px;
        height: 50px;
        box-shadow: 0px 2px 10px $color-shadow-buttons;
        background: linear-gradient(172deg,$color-secondaire, $color-primaire);
        &:hover{
            filter: brightness(120%);
            box-shadow:0px 2px 10px $color-shadow-buttons-drkn; 
        }
      }

@mixin ellipsis{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}      

@mixin progressive-animation-list{
    @for $piatto from 0 to 6 {
     &:nth-child(#{$piatto}){
         animation-delay: $piatto * 200ms;
     }
    }
}

@mixin chiaro-scuro ($color-CS:$color-tertiaire){
    @if (lightness($color-CS) <25%){
        $color-CS:lighten($color-CS, 60%);
    }@else{
        $color-CS:darken($color-CS, 40%);
        }
        color:$color-CS;
        background-color: $color-tertiaire;
    }

    

