main{
  background-color: $color-background;
}

.titre_h1{
  font-size: 16px;
  padding-bottom: 5px;
  font-weight:normal;
  border-bottom: 3px solid $color-tertiaire;
  width: 41px;
 }

.entrees, .plats, .desserts
{ display: flex;
  flex-direction: column;
  padding: 0px 14px 40px;
  gap: 15px;
}

.plat {
    @include progressive-animation-list;
    display: grid;
    border-radius: 5px;
    grid-template-columns: 1fr auto auto;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'nom price checkbox' 'description price checkbox';
    background-color: white;
    border-radius: 15px;
    box-shadow: 1px 3px 12px $color-shadow;
    overflow: hidden;
    animation: 500ms linear both effetto-sfocato;
    

    &_nom {
      @include ellipsis;
      grid-area: nom;
      padding:10px 0px 0px 10px;
      font-weight: bold;
      font-size: 19px;
    }
    &_description {
      @include ellipsis;
      grid-area: description;
      padding:5px 0px 10px 12px;
      font-size: 15px;
      font-weight: 400;
    }
    &_price {
      grid-area: price;
      padding:0px 24px 10px 24px;
      font-weight:800;
      align-self: end;
    }
    &_checkbox {
      grid-area: checkbox;
      background-color: $color-tertiaire;
      width: 60px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: -60px;
      transition: margin-right 600ms;
      &_icon {
        color: white;
        font-size: 20px;
      }
    }
  
    &:hover {
      .plat {
        &_checkbox {
          margin-right: 0;
          &_icon {
            transform: rotateZ(-360deg);
            transition: transform 600ms;
          }
        }
      }
    }
  }
  

  
.button-com {
 @include button;
  margin: 40px 0;
  &_span {
    margin: 0 50px;
    font-size: 16px;  
}
}