@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,900;1,700&family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.header-menu {
  display: flex;
}
.header-menu .fa-arrow-left {
  content: "\f060";
  margin-left: 25px;
  font-size: 20px;
  align-self: center;
}
.header-menu_logo {
  height: 44%;
  width: 44%;
  margin: 20px 0 15px 70px;
}

footer {
  padding: 0 20px;
  background-color: #353535;
  color: white;
  height: 200px;
}

.footer-div_logo {
  height: 30%;
  width: 30%;
  margin: 25px 0 20px;
  filter: invert(100%) sepia(5%) saturate(16%) hue-rotate(218deg) brightness(105%) contrast(100%);
}

ul {
  list-style: none;
}
ul li {
  margin-bottom: 8px;
}
ul li .mobile_svg::before {
  content: "\f2e7";
  margin-right: 12px;
  font-size: 12px;
}
ul li .hands_svg::before {
  content: "\f4c4";
  margin-right: 8px;
  font-size: 11px;
}

main {
  background-color: #f0f0f0;
}

.alafranc {
  object-fit: cover;
  width: 100%;
  height: 275px;
}

.titre_menu {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  position: relative;
  margin-top: -58px;
  border-radius: 40px 40px 0 0;
  height: 105px;
  font-family: "Shrikhand", cursive;
  font-size: 29px;
}
.titre_menu .span_titre {
  margin-left: 18px;
}
.titre_menu .fa-heart {
  margin-left: 90px;
  font-size: 24px;
}

.entrees, .plats, .desserts {
  display: flex;
  flex-direction: column;
  padding: 0 14px 40px;
  gap: 15px;
}

.titre_h1 {
  font-size: 16px;
  padding-bottom: 5px;
  font-weight: normal;
  border-bottom: 3px solid #89d1bf;
  width: 41px;
}

.plat {
  display: grid;
  border-radius: 5px;
  grid-template-columns: 1fr auto auto;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "nom price checkbox" "description price checkbox";
  background-color: white;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 1px 3px 12px #cecece;
}
.plat_nom {
  grid-area: nom;
  padding: 10px 10px 0;
  font-weight: bold;
  font-size: 19px;
}
.plat_description {
  grid-area: description;
  padding: 5px 12px 10px 12px;
}
.plat_price {
  grid-area: price;
  padding: 0 24px 10px 0;
  font-weight: bold;
  align-self: end;
}
.plat_checkbox {
  grid-area: checkbox;
  background-color: #89d1bf;
  width: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -50px;
  transition: margin-right 1s;
}
.plat_checkbox_icon {
  color: white;
}
.plat:hover .plat_checkbox {
  margin-right: 0;
}
.plat:hover .plat_checkbox_icon {
  transform: rotateZ(-360deg);
  transition: transform 1s;
}

@keyframes monAnimation {}
.button-com {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  color: white;
  font-weight: 400;
  border-radius: 25px;
  height: 50px;
  background: linear-gradient(172deg, #FF79DA, #9356DC);
  margin: 40px 0;
}
.button-com_span {
  margin: 0 50px;
  font-size: 16px;
}

/*# sourceMappingURL=restaurants.css.map */
